@import "sidebar.css";
@import "content.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 3, 1, 5;
  --background-end-rgb: 3, 4, 4;
}

@media (prefers-color-scheme: red) {
  :root {
    --foreground-rgb: 5, 1, 6;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */

body {
  background-color: #1B142B;
}