.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #27262C;
}

.nametopic{
    display: flex;
    text-align: center;
    font-size: 53px;
    padding: 25px 0px 0px 35px;
}

.text-topic-1{
    color: aliceblue;
}

.text-topic-2{
    color: #BE6AFF;
}

.text-topic-3{
    color: aliceblue;
}


